<nav>
    <div class="group-picture"></div>
    <h1>{{ group.nombre }}</h1>
    <button class="btn-menu"><fa [name]="'ellipsis-v'" [size]=1></fa></button>
</nav>

<section class="members">
    <div class="host">
        <div class="member-picture"></div>
        <div class="user">
            <p>El rasta</p>
            <span>Host</span>
        </div>
        <div class="will-take">chelas</div>
        <div class="badge"></div>
    </div>
    <h2>10 invitados</h2>
    <ul class="members-list">
        <li>
            <div class="member-picture"></div>
            <div class="user">
                <p>El rasta</p>
                <span>Host</span>
            </div>
            <div class="will-take">chelas</div>
            <div class="badge"></div>
        </li>
    </ul>
</section>

<button class="btn-add-member">+</button>