.btn-login{
    background: $base-color;
    color: $text-color;
    line-height: 42px;
    border: 0;
    fa{
        margin-right: 3px;
    }
    @include border-radius(2px);
    &.facebook{
        background: #3d5997;
        color: $base-color;
    }
}

.btn-add-member{
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    border: 0;
    font-size: 18px;
    background: $highlight-color;
    color: $base-color;
}