.btn-add-member{
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    border: 0;
    font-size: 18px;
    background: $main-color;
    color: $base-color;
}