@mixin border-radius( $radius ){
    border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin gradient-background( $direction, $color1, $color2, $color1Location, $color2Location ){
    background: linear-gradient( $direction, $color1 $color1Location, $color2 $color2Location );
    background: -moz-linear-gradient( $direction, $color1 $color1Location, $color2 $color2Location );
    background: -webkit-linear-gradient( $direction, $color1 $color1Location, $color2 $color2Location );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color1}, endColorstr=#{$color2},GradientType=1 );
}